# FastAPI & web
fastapi
uvicorn[standard]
python-multipart

# Database & ORM
SQLAlchemy
psycopg2-binary

# Pydantic
pydantic[Email]
pydantic-settings

# Authentication & Security
python-jose
passlib[bcrypt]

# PDF Processing
# pdfplumber
# PyPDF2
llama_parse

# LangChain & RAG
# langchain
openai
sentence-transformers
transformers

# Vector Store
qdrant-client
# fastembed

# Utilities
python-dotenv

# Testing
pytest

# Others
mlflow
deepeval
ollama
prometheus-client